<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="header">
      <ol style="display:flex; justify-content:space-between">
        <li><a href="/student"> 학생관리웹 시스템(로고)</a></li>
        <li><a href="/student/regist">학생 점수 등록</a> </li>
        <li><a href="/student/list">전체 학생 조회</a> </li>
        <li><a href="/student/info">개별 학생 조회</a> </li>
        <li><a href="/student/update">학생 점수 수정</a> </li>
        <li><a href="/student/delete">학생 정보 삭제</a> </li>
      </ol>
  </div>
</body>
</html>